.icon {
  width: 70px;
  float: right;
  cursor: pointer;
}

.iconlogo {
  width: 80px;
  float: left;
  cursor: pointer;
}

.icon:hover {
  margin-bottom: 20px;
}

.icon-container {
  display: block;
  padding: 70px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: gray;
}
