p {
  text-align: center;
}

.slide-down {
  transform: translateY(100%);
  transition: transform 1s ease;
  animation: slideDownAnimation 1s forwards;
}

div {
  overflow: hidden;
}

.bg {
  background-image: url(../img/background.png);
  background-size: cover;
}

@keyframes slideDownAnimation {
  from {
    transform: translateY(0%);
    opacity: 100%;
  }
  to {
    transform: translateY(15%);
    opacity: 0%;
  }
}
