p {
  font-size: 12pt;
  color: gray;
}

.container {
  width: 60%;
  padding: 30px;
  color: gray;
  border-radius: 10px;
  line-height: 80%;
}

.fade {
  transition: transform 1s ease;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
