p {
  font-size: 14pt;
}

.container {
  width: 60%;
  padding: 30px;
  color: black;
  border-radius: 10px;
}

.fade {
  transition: transform 1s ease;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
