p {
  font-size: 14pt;
}

.container {
  width: 60%;
  padding: 30px;
  color: gray;
  /* border-radius: 10px; */
  line-height: 80%;
  /* background-color: rgba(128, 128, 128, 0.135); */
}

.fade {
  transition: transform 1s ease;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
